%h1= @movie.title
.jumbotron
  = @movie.description
- if user_signed_in?
  %p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'
  = form_for([@movie, Comment.new]) do |f|
    .form-group
      = f.label :content
      = f.text_area :content, class: "form-control"
      = f.submit "Add comment", class: "btn btn-sm btn-primary"
- @movie.comments.each do |comment|
  = comment.content